.cocktail-item {
  display: flex;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin: 23px 0 12px -100px;
  background-color: #fff;
  width: 470px;
  min-height: 200px;
  box-sizing: border-box;
}

.cocktail-thumbnail {
  width: 100px;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #000;
}

.cocktail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.cocktail-name {
  margin: 0 0 5px;
  font-size: 1.2rem;
}

.cocktail-instructions {
  margin: 0 0 8px;
  font-size: 0.95rem;
  color: #555;
}

.add-button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: #0E98D4;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 10px 0 0 auto;
}


