body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
  position: relative;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  font-size: 1rem;
}

.search-button {
  padding: 8px 16px;
  border: none;
  background-color: #0E98D4;
  color: white;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.shopping-list {
  position: absolute;
  top: 120px;           
  right: -100px;          
  width: 250px;         
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: left;
}

.shopping-list h2 {
  margin-top: 0;
}

.shopping-list ul {
  list-style-type: none;
}

.shopping-list li {
  padding-bottom: 10px;
  padding-left: 0px;
  
}

.print-button-container {
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
  background-color: #0E98D4;
  color: white;
  border-radius: 6px;
  display: inline-block;
  padding: 2px 8px;     
  text-align: center; 
}
